body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #2f52ff;
    

  }
  
  h1 {
    text-align: center;
    margin-bottom: 2em;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0.25em;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], input[type="password"], textarea, input[type="tel"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #0072c6;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005ea2;
  }
  .keylogger{
    margin: 20cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
    border: 10px solid rgb(255, 255, 255);
    font-size: 1cm;
    padding: 0.5cm;
    background-color: #bce3ff;
    
  }